@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700italic);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);

.main-container {
  background-color: slateBlue;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-family: 'Merriweather Sans', sans-serif;
}

#jumbotron {
  font-family: 'Dancing Script', cursive;
  padding: 20px 20px 20px 20px;
  text-align: center;
  background-color: rgba(255,255,255, .5);
  width: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#display {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  text-align: center;
  background-color: rgba(255,255,255, .5);
  width: 300px;
  display:none;
}

#main-menu {
  font-family: 'Dancing Script', cursive;
}

#game {
  display:none;
}

.answer {
  background-color: rgba(255,255,255, .8);
  height: 50px;
  padding: 2px;
  text-align: center;
  border: 6px;
  border-style: solid;
  border-top-color: rgba(240,240,240, .5);
  border-right-color: rgba(190,190,190,.5);
  border-bottom-color: rgba(160,160,160,.5);
  border-left-color: rgba(175,175,175, .5);
}

.answer:hover {
  background-color: rgba(250,250,250, .8);
  cursor: pointer;
}

#status {
  background-color: rgba(255,255,255, .5);
  color: rgb(40,160,149);
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  display: none;
}

#new-game {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  background-color: rgba(255,255,255, .5);
  border-radius: 50%;
  width: 200px;
}

#results {
  display: none;
  padding: 10px;
}


/* --------------------------
   MICKEY EARS
--------------------------- */
#mickey-ears {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 114px;
  height: 70px;
}

#right-ear {
  top:2px;
  left: 72px;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgb(33,38,55);
  border-radius: 50%;
}

#left-ear {
  top:2px;
  left: 2px;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgb(33,38,55);
  border-radius: 50%;
}

#mickey-base {
  left: 22px;
  top: 28px;
  position: absolute;
  width: 70px;
  height: 35px;
  background-color: rgb(33,38,55);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

/* --------------------------
   PRINCE CROWN
--------------------------- */

#prince-crown {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80px;
  height: 60px;
}


#point-one {
  position: absolute;
  left: 8px;
  top: 20px;
  width: 0;
	height: 0;
  border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 20px solid gold;
  z-index: 0;
}

#point-two {
  position: absolute;
  top: 20px;
  left: 24px;
  width: 0;
	height: 0;
  border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 20px solid gold;
  z-index: 0;
}

#point-three {
  position: absolute;
  left: 39px;
  top: 20px;
  width: 0;
	height: 0;
  border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 20px solid gold;
  z-index: 0;
}

#point-four {
  position: absolute;
  left: 54px;
  top: 20px;
  width: 0;
	height: 0;
  border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 20px solid gold;
  z-index: 0;
}

#prince-crown-base {
  position: absolute;
  left: 8px;
  top: 40px;
  width: 62px;
  height: 10px;
  background-color: gold;
  z-index: 0;
  border-bottom: 3px solid silver;
}

/* --------------------------
   TIARA
--------------------------- */

#tiara {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80px;
  height: 60px;
}

#left-round {
  position: absolute;
  left: 12px;
  top: 30px;
  width: 20px;
	height: 10px;
  background-color: pink;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 0;
}

#point {
  position: absolute;
  left: 25px;
  top: 10px;
  width: 0;
	height: 0;
  border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid pink;
  z-index: 0;
}

#right-round {
  position: absolute;
  left: 46px;
  top: 30px;
  width: 20px;
	height: 10px;
  background-color: pink;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 0;
}

#tiara-base {
  position: absolute;
  left: 8px;
  top: 40px;
  width: 62px;
  height: 12px;
  background-color: pink;
  z-index: 0;
  border-bottom: 3px solid rgb(160,40,149);
}

#tiara-jewel {
  position: absolute;
  left: 34px;
  top: 30px;
  width: 7px;
  height: 16px;
  background-color: lightblue;
  border-radius: 50%;
  border: 2px solid rgb(160,40,149);
  z-index: 1;
}


/* --------------------------
   EVIL CROWN
--------------------------- */

#crown {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80px;
  height: 60px;
}

#triangle-one {
  position: absolute;
  left: 8px;
  top: 17px;
  width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 25px solid rgb(40,160,149);
  z-index: 0;
}

#triangle-two {
  position: absolute;
  left: 25px;
  top: 2px;
  width: 0;
	height: 0;
  border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 40px solid rgb(40,160,149);
  z-index: 0;
}

#triangle-three {
  position: absolute;
  left: 50px;
  top: 17px;
  width: 0;
	height: 0;
  border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 25px solid rgb(40,160,149);
  z-index: 0;
}

#crown-base {
  position: absolute;
  left: 8px;
  top: 42px;
  width: 62px;
  height: 10px;
  background-color: rgb(40,160,149);
  z-index: 0;
  border-bottom: 3px solid rgb(160,40,149);
}

#jewel {
  position: absolute;
  left: 34px;
  top: 28px;
  width: 7px;
  height: 16px;
  background-color: rgb(83,179,203);
  border-radius: 50%;
  border: 2px solid rgb(160,40,149);
  z-index: 1;
}

/* --------------------------
   KEY
--------------------------- */


#key {
  opacity: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80px;
  height: 20px;
}

#key-circle {
  position: absolute;
  left: -25px;
  border: 7px solid rgb(227,169,104);
  border-radius: 50%;
  height: 35px;
  width:30px;
}

#key-shaft {
  position: absolute;
  top: 20px;
  left: 17px;
  height: 10px;
  width: 85px;
  background-color: rgb(227,169,104);
  border-radius: 0 5px 5px 0;
}

#key-lock-1 {
  position: absolute;
  left: 75px;
  top: 30px;
  height: 5px;
  width: 20px;
  background-color: rgb(227,169,104);
}

#key-lock-2 {
  position: absolute;
  left: 80px;
  top: 35px;
  height: 5px;
  width: 10px;
  background-color: rgb(227,169,104);
  }

  /* --------------------------
     CASTLE
  --------------------------- */
  #castle {
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    background-color: rgba(255,250,250, 1);
    width: 102px;
  }

  #castle-base {
    position: absolute;
    top: 70px;
    width: 100px;
    height: 50px;
    border-top: 3px dashed rgba(255,250,250, 1);
    background-color: rgb(40,140,149);
  }

  #castle-door {
    position: absolute;
    top: 90px;
    left: 60px;
    width: 20px;
    height: 30px;
    background-color: rgba(160,40,149, .7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
  }

  #castle-turret-left {
    position: absolute;
    top: 60px;
    width: 20px;
    height: 20px;
    background-color: rgb(40,140,149);
    z-index: 1;
  }

  #castle-turret-left-roof {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid magenta;
  }

  #castle-turret-right {
    position: absolute;
    top: 60px;
    left: 100px;
    width: 20px;
    height: 20px;
    background-color: rgb(40,140,149);
    z-index: 1;
  }

  #castle-turret-right-roof {
    position: absolute;
    top: 30px;
    left: 95px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid magenta;
  }
